<div class="d-flex justify-content-between">
  <h1 class="text">INVOICE DETAIL (FINANCE SHEET)</h1>
  <i class="fas fa-times dialog-close" (click)="onClose()"></i>
</div>
<div class="d-flex flex-column dialog-scroll position-relative">
  <div class="d-flex">
    <div class="d-flex flex-column py-1 col-6">
      <span class="dialog-span-label py-1">KIDNO</span>
      <span class="dialog-span-content">{{ dialog_Arr.KIDNO["_text"] }}</span>
    </div>
    <div class="d-flex flex-column py-1 col-6">
      <span class="dialog-span-label py-1">BSTNK_VF</span>
      <span class="dialog-span-content">{{
        dialog_Arr.BSTNK_VF["_text"]
      }}</span>
    </div>
  </div>
  <div class="d-flex">
    <div class="d-flex flex-column py-1 col-6">
      <span class="dialog-span-label py-1">BUKRS</span>
      <span class="dialog-span-content">{{ dialog_Arr.BUKRS["_text"] }}</span>
    </div>
    <div class="d-flex flex-column py-1 col-6">
      <span class="dialog-span-label py-1">BZIRK</span>
      <span class="dialog-span-content">{{ dialog_Arr.BZIRK["_text"] }}</span>
    </div>
  </div>
  <div class="d-flex">
    <div class="d-flex flex-column py-1 col-6">
      <span class="dialog-span-label py-1">ERDAT</span>
      <span class="dialog-span-content">{{ dialog_Arr.ERDAT["_text"] }}</span>
    </div>
    <div class="d-flex flex-column py-1 col-6">
      <span class="dialog-span-label py-1">ERNAM</span>
      <span class="dialog-span-content">{{ dialog_Arr.ERNAM["_text"] }}</span>
    </div>
  </div>
  <div class="d-flex">
    <div class="d-flex flex-column py-1 col-6">
      <span class="dialog-span-label py-1">ERZET</span>
      <span class="dialog-span-content">{{ dialog_Arr.ERZET["_text"] }}</span>
    </div>
    <div class="d-flex flex-column py-1 col-6">
      <span class="dialog-span-label py-1">EXNUM</span>
      <span class="dialog-span-content">{{ dialog_Arr.EXNUM["_text"] }}</span>
    </div>
  </div>
  <div class="d-flex">
    <div class="d-flex flex-column py-1 col-6">
      <span class="dialog-span-label py-1">INCO1</span>
      <span class="dialog-span-content">{{ dialog_Arr.INCO1["_text"] }}</span>
    </div>
    <div class="d-flex flex-column py-1 col-6">
      <span class="dialog-span-label py-1">INCO2</span>
      <span class="dialog-span-content">{{ dialog_Arr.INCO2["_text"] }}</span>
    </div>
  </div>
  <div class="d-flex">
    <div class="d-flex flex-column py-1 col-6">
      <span class="dialog-span-label py-1">KALSM</span>
      <span class="dialog-span-content">{{ dialog_Arr.KALSM["_text"] }}</span>
    </div>
    <div class="d-flex flex-column py-1 col-6">
      <span class="dialog-span-label py-1">KNUMV</span>
      <span class="dialog-span-content">{{ dialog_Arr.KNUMV["_text"] }}</span>
    </div>
  </div>
  <div class="d-flex">
    <div class="d-flex flex-column py-1 col-6">
      <span class="dialog-span-label py-1">KURRF</span>
      <span class="dialog-span-content">{{ dialog_Arr.KURRF["_text"] }}</span>
    </div>
    <div class="d-flex flex-column py-1 col-6">
      <span class="dialog-span-label py-1">MWSBK</span>
      <span class="dialog-span-content">{{ dialog_Arr.MWSBK["_text"] }}</span>
    </div>
  </div>
  <div class="w-100">
    <button
      class="btn-hover btn-auto color-11 mt-1 p-2 float-right"
      (click)="openInvPDF(dialog_Arr.KIDNO['_text'].substring(2))"
    >
      Download {{ dialog_Arr.KIDNO["_text"] }} Invoice
    </button>
  </div>
</div>
