<app-loader [loader]="loader"></app-loader>
<div class="container-fluid p-0 mt-3 w-100">
  <div class="d-flex align-items-center justify-content-between">
    <div class="input-field">
      <i class="fas fa-search"></i>
      <input
        type="text"
        (keyup)="applyFilter($event)"
        placeholder="Search"
        #input
      />
    </div>
    <button class="btn-hover btn-override color-11" (click)="openPDF()">
      Download PDF
    </button>
  </div>
</div>

<div>
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    id="htmlData"
    class="mat-tab table-striped mat-elevation-z8"
  >
    <ng-container matColumnDef="salesDoc">
      <th
        title="ID"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="table-row"
      >
        salesDoc
      </th>
      <td
        mat-cell
        *matCellDef="let row"
        data-label="salesDoc"
        class="p-3 cell-pointer"
        (click)="onRow(row.salesDoc)"
        data-toggle="modal"
        data-target="#exampleModalCenter"
      >
        {{ row.salesDoc }}
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-row">
        Inquiry Description
      </th>
      <td mat-cell *matCellDef="let row" class="p-3" data-label="description">
        {{ row.description }}
      </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-row">
        Created Date
      </th>
      <td mat-cell *matCellDef="let row" class="p-3" data-label="date">
        {{ row.date }}
      </td>
    </ng-container>

    <ng-container matColumnDef="soldTo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-row">
        soldTo
      </th>
      <td mat-cell *matCellDef="let row" class="p-3" data-label="soldTo">
        {{ row.soldTo }}
      </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-row">
        Doc Category
      </th>
      <td mat-cell *matCellDef="let row" class="p-3" data-label="category">
        {{ row.category }}
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-row">
        SD Doc Currency
      </th>
      <td mat-cell *matCellDef="let row" class="p-3" data-label="name">
        {{ row.name }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No data matching the filter "{{ input.value }}"
      </td>
    </tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10]"
    aria-label="Select page of users"
  ></mat-paginator>
</div>
