<div class="d-flex justify-content-between">
  <h1 class="text">CUSTOMER DELIVERY DETAIL</h1>
  <i class="fas fa-times dialog-close" (click)="onClose()"></i>
</div>
<div class="d-flex flex-column dialog-scroll">
  <div class="d-flex">
    <div class="d-flex flex-column py-1 col-6">
      <span class="dialog-span-label py-1">Delivery Number</span>
      <span class="dialog-span-content">{{ dialog_Arr.VBELN["_text"] }}</span>
    </div>
    <div class="d-flex flex-column py-1 col-6">
      <span class="dialog-span-label py-1">Paymt guarant. proc. information</span>
      <span class="dialog-span-content">{{ dialog_Arr.ABSSC["_text"] }}</span>
    </div>
  </div>
  <div class="d-flex">
    <div class="d-flex flex-column py-1 col-6">
      <span class="dialog-span-label py-1">Created Date</span>
      <span class="dialog-span-content">{{ dialog_Arr.AEDAT["_text"] }}</span>
    </div>
    <div class="d-flex flex-column py-1 col-6">
      <span class="dialog-span-label py-1">Created by</span>
      <span class="dialog-span-content">{{ dialog_Arr.AENAM["_text"] }}</span>
    </div>
  </div>
  <div class="d-flex">
    <div class="d-flex flex-column py-1 col-6">
      <span class="dialog-span-label py-1">Total Weight information</span>
      <span class="dialog-span-content">{{ dialog_Arr.BTGEW["_text"] }}</span>
    </div>
    <div class="d-flex flex-column py-1 col-6">
      <span class="dialog-span-label py-1">date of record creation</span>
      <span class="dialog-span-content">{{ dialog_Arr.ERDAT["_text"] }}</span>
    </div>
  </div>
  <div class="d-flex">
    <div class="d-flex flex-column py-1 col-6">
      <span class="dialog-span-label py-1">Number of foreign trade data</span>
      <span class="dialog-span-content">{{ dialog_Arr.EXNUM["_text"] }}</span>
    </div>
    <div class="d-flex flex-column py-1 col-6">
      <span class="dialog-span-label py-1">Intercomp. bill.</span>
      <span class="dialog-span-content">{{ dialog_Arr.FKAIV["_text"] }}</span>
    </div>
  </div>
  <div class="d-flex">
    <div class="d-flex flex-column py-1 col-6">
      <span class="dialog-span-label py-1">Order Bill Type Information</span>
      <span class="dialog-span-content">{{ dialog_Arr.FKARV["_text"] }}</span>
    </div>
    <div class="d-flex flex-column py-1 col-6">
      <span class="dialog-span-label py-1">Billing Date information</span>
      <span class="dialog-span-content">{{ dialog_Arr.FKDAT["_text"] }}</span>
    </div>
  </div>
  <div class="d-flex">
    <div class="d-flex flex-column py-1 col-6">
      <span class="dialog-span-label py-1"> Incoterms information</span>
      <span class="dialog-span-content">{{ dialog_Arr.INCO1["_text"] }}</span>
    </div>
    <div class="d-flex flex-column py-1 col-6">
      <span class="dialog-span-label py-1"> Incoterms information</span>
      <span class="dialog-span-content">{{ dialog_Arr.INCO2["_text"] }}</span>
    </div>
  </div>
  <div class="d-flex">
    <div class="d-flex flex-column py-1 col-6">
      <span class="dialog-span-label py-1"> Picking time information</span>
      <span class="dialog-span-content">{{ dialog_Arr.KOUHR["_text"] }}</span>
    </div>
    <div class="d-flex flex-column py-1 col-6">
      <span class="dialog-span-label py-1">Entry point</span>
      <span class="dialog-span-content">{{ dialog_Arr.TCODE["_text"] }}</span>
    </div>
  </div>
</div>
