<app-loader [loader]="loader"></app-loader>
<form [formGroup]="form">
  <mat-form-field appearance="fill" class="w-50">
    <mat-label>Select Columns</mat-label>
    <mat-select
      formControlName="toppingList"
      (selectionChange)="change($event)"
      multiple
    >
      <mat-option *ngFor="let topping of toppingList" [value]="topping">{{
        topping
      }}</mat-option>
    </mat-select>
  </mat-form-field>
</form>
<div class="container-fluid p-0 w-100">
  <div class="d-flex align-items-center justify-content-between">
    <div class="input-field">
      <i class="fas fa-search"></i>
      <input
        type="text"
        (keyup)="applyFilter($event)"
        placeholder="Search"
        #input
      />
    </div>
    <button class="btn-hover color-11" (click)="openPDF()">Download PDF</button>
  </div>
</div>

<div class="d-flex align-items-center justify-content-center flex-column">
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    id="htmlData"
    class="mat-tab table-striped"
  >
    <ng-container matColumnDef="SeqNo">
      <th
        title="SeqNo"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="table-row"
      >
        SeqNo
      </th>
      <td
        mat-cell
        *matCellDef="let row"
        data-label="docNumber"
        class="p-3 cell-pointer"
        data-toggle="modal"
        data-target="#exampleModalCenter"
      >
        {{ row.SeqNo }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Paytype_text">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-row">
        Paytype_text
      </th>
      <td mat-cell *matCellDef="let row" class="p-3" data-label="Paytype_text">
        {{ row.Paytype_text }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Fiscal_period">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-row">
        Fiscal_period
      </th>
      <td mat-cell *matCellDef="let row" class="p-3" data-label="Fiscal_period">
        {{ row.Fiscal_period }}
      </td>
    </ng-container>

    <ng-container matColumnDef="PayDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-row">
        PayDate
      </th>
      <td mat-cell *matCellDef="let row" class="p-3" data-label="PayDate">
        {{ row.PayDate }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-row">
        Date
      </th>
      <td mat-cell *matCellDef="let row" class="p-3" data-label="Date">
        {{ row.Date }}
      </td>
    </ng-container>

    <ng-container matColumnDef="Download">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-row">
        Download
      </th>
      <td mat-cell *matCellDef="let row" class="p-3" data-label="Download">
        <button
          mat-raised-button
          color="warn"
          (click)="pdfDownload(row.SeqNo, row.Fiscal_period)"
        >
          Download
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="selectedArr"></tr>
    <tr mat-row *matRowDef="let row; columns: selectedArr"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No data matching the filter "{{ input.value }}"
      </td>
    </tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10]"
    aria-label="Select page of users"
  ></mat-paginator>
</div>
