<app-loader [loader]="loader"></app-loader>
<div class="container-fluid p-2">
  <div class="d-flex change-profile-flex">
    <div class="col-md-12 col-lg-4 d-flex flex-column m-1 p-0">
      <div
        class="d-flex my-2 flex-column align-items-center justify-content-center p-3 user-profile-div"
      >
        <div class="listing-avatar-profile my-2">{{ avatar }}</div>
        <div
          class="d-flex flex-column align-items-center justify-content-center"
        >
          <span class="listing-name">{{ profileArr["ENAME"]["_text"] }}</span>
          <span class="listing-role">{{ profileArr["PERNR"]["_text"] }}</span>
        </div>
      </div>
      <span class="dialog-span-label p-2">COMPANY DETAILS :</span>
      <div class="d-flex flex-column p-3 user-profile-div">
        <div class="d-flex flex-column py-1">
          <span class="dialog-span-label user-label py-1"
            ><i class="fas fa-user px-2"></i>LAND</span
          >
          <span class="dialog-span-content px-2">{{
            profileArr["LAND"]["_text"]
          }}</span>
        </div>
        <div class="d-flex flex-column py-1">
          <span class="dialog-span-label user-label py-1"
            ><i class="fas fa-address-card px-2"></i>Name</span
          >
          <span class="dialog-span-content px-2">{{
            profileArr["NACHN"]["_text"]
          }}</span>
        </div>
        <div class="d-flex flex-column py-1">
          <span class="dialog-span-label user-label py-1"
            ><i class="fas fa-home px-2"></i>COUNTRY</span
          >
          <span class="dialog-span-content px-2">{{
            profileArr["NATIO"]["_text"]
          }}</span>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-8 p-0 m-1">
      <div class="d-flex flex-column">
        <span class="dialog-span-label p-2">USER INFO :</span>
        <div class="d-flex col-md-12 flex-wrap p-3 user-profile-div">
          <div class="d-flex col-6 p-0 flex-column py-1">
            <span class="dialog-span-label user-label py-1"
              ><i class="fas fa-address-book px-2"></i>DOB</span
            >
            <span class="dialog-span-content px-2">{{
              profileArr["BEGDA"]["_text"]
            }}</span>
          </div>
          <div class="d-flex col-6 p-0 flex-column py-1">
            <span class="dialog-span-label user-label py-1"
              ><i class="fas fa-address-book px-2"></i>COMPANY CODE</span
            >
            <span class="dialog-span-content px-2">{{
              profileArr["BUKRS"]["_text"]
            }}</span>
          </div>
          <div class="d-flex col-6 p-0 flex-column py-1">
            <span class="dialog-span-label user-label py-1"
              ><i class="fas fa-phone px-2"></i>PHONE</span
            >
            <span class="dialog-span-content px-2">{{
              profileArr["TELNR"]["_text"]
            }}</span>
          </div>
          <div class="d-flex col-6 p-0 flex-column py-1">
            <span class="dialog-span-label user-label py-1"
              ><i class="fas fa-address-card px-2"></i>ADDRESS</span
            >
            <span class="dialog-span-content px-2">{{
              profileArr["STRAS"]["_text"]
            }}</span>
          </div>
          <div class="d-flex col-6 p-0 flex-column py-1">
            <span class="dialog-span-label user-label py-1"
              ><i class="fas fa-globe px-2"></i>POSTAL CODE</span
            >
            <span class="dialog-span-content px-2">{{
              profileArr["PSTLZ"]["_text"]
            }}</span>
          </div>
        </div>
        <span class="dialog-span-label p-2">GENERAL DETAILS :</span>
        <div class="d-flex">
          <div class="d-flex col-md-6 flex-wrap p-3 user-profile-div">
            <div class="d-flex col-12 p-0 flex-column py-1">
              <span class="dialog-span-label user-label py-1"
                ><i class="fas fa-book px-2"></i>PLANS_TXT</span
              >
              <span class="dialog-span-content px-2">{{
                profileArr["PLANS_TXT"]["_text"]
              }}</span>
            </div>
            <div class="d-flex col-12 p-0 flex-column py-1">
              <span class="dialog-span-label user-label py-1"
                ><i class="fas fa-book px-2"></i>VORNA</span
              >
              <span class="dialog-span-content px-2">{{
                profileArr["VORNA"]["_text"]
              }}</span>
            </div>
            <div class="d-flex col-12 p-0 flex-column py-1">
              <span class="dialog-span-label user-label py-1"
                ><i class="fas fa-book px-2"></i>PERSK</span
              >
              <span class="dialog-span-content px-2">{{
                profileArr["PERSK"]["_text"]
              }}</span>
            </div>
            <div class="d-flex col-12 p-0 flex-column py-1">
              <span class="dialog-span-label user-label py-1"
                ><i class="fas fa-book px-2"></i>PLANS</span
              >
              <span class="dialog-span-content px-2">{{
                profileArr["PLANS"]["_text"]
              }}</span>
            </div>
          </div>
          <div class="d-flex col-md-6 flex-wrap mx-1 p-3 user-profile-div">
            <div class="d-flex col-12 p-0 flex-column py-1">
              <span class="dialog-span-label user-label py-1"
                ><i class="fas fa-users px-2"></i>ENDDA</span
              >
              <span class="dialog-span-content px-2">{{
                profileArr["ENDDA"]["_text"]
              }}</span>
            </div>
            <div class="d-flex col-12 p-0 flex-column py-1">
              <span class="dialog-span-label user-label py-1"
                ><i class="fas fa-user px-2"></i>GESCH</span
              >
              <span class="dialog-span-content px-2">{{
                profileArr["GESCH"]["_text"]
              }}</span>
            </div>
            <div class="d-flex col-12 p-0 flex-column py-1">
              <span class="dialog-span-label user-label py-1"
                ><i class="fas fa-address-book px-2"></i>GBDAT</span
              >
              <span class="dialog-span-content px-2">{{
                profileArr["GBDAT"]["_text"]
              }}</span>
            </div>
            <div class="d-flex col-12 p-0 flex-column py-1">
              <span class="dialog-span-label user-label py-1"
                ><i class="fas fa-user px-2"></i>ORGEH_TXT</span
              >
              <span class="dialog-span-content px-2">{{
                profileArr["ORGEH_TXT"]["_text"]
              }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
